.dog {
    display: flex;
    flex-direction: row;
}

.bbb {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.bbb h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
}


.bbb p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: black;

    margin-top: 1.5rem;
}









.bka {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bka img {
    width: 85%;
    height: 85%;
}

@media screen and (max-width: 1050px) {
    

    .bbb {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .bbb h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .bbb p {
        font-size: 16px;
        line-height: 24px;
    }
    

   
}

@media screen and (max-width: 400px) {
    .bbb h1 {
        font-size: 30px;
        line-height: 32px;
        
    }

    .bbb p {
        font-size: 14px;
        line-height: 24px;
    }

    .dog{
        display: flex;
    flex-direction: column;
    margin-top: 100px;
    }

    .bbb{
        padding-left: 30px;
    }

    .dog{
        overflow-x: hidden;
    }


}