.outer {
    display: flex;
    flex-direction: row;
}
.posimg{
    display: flex;
    justify-content: center;
    float: left;
    width: 60%;
   
}
.posimg img{
    height: 100%;
    width: 80%;
}

.outer{
    display: flex;
    flex-direction: row;

}


.gpt3__possibility-content {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    float: right;
    width: 25%;
}

.gpt3__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 1000;
    font-size: 24px;
    line-height: 40px;
    color: #ff8A71;
}





.gpt3__possibility-content p {
    color: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;

}

@media screen and (max-width: 950px) {
    .gpt3__possibility {
        flex-direction: column;
    }


    .gpt3__possibility-content {
        margin-top: 2rem;
    }

    .outer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .posimg {
        width: 800px;
        height: 400px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 700px) {
    
   
    .outer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .posimg {
        width: 500px;
        height: 250px;


        
    }
}

@media screen and (max-width: 400px) {
    
   
    .outer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .posimg {
        width: 500px;
        height: 200px;
        align-items: center;
        padding-left: 60px;
        

        
    }

    .gpt3__possibility-content  {
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 30px;
        width: 100%;
        padding-bottom: 70px;
    }
    .gpt3__possibility-content p {
        color: black;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    
    }

    .gpt3__possibility-content h4 {
        font-family: var(--font-family);
        font-weight: 1000;
        font-size: 14px;
        line-height: 20px;
        color: #ff8A71;
    }
}