.timeline {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 5% auto;
}

.timeline h1{
  text-align: center;
  color:  #F76922;
  font-size: 50px;
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 50px;
 line-height: 40px;
 font-family: var(--font-family);
}
.timeline__event {
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: darkblue;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 20px;
}
.timeline__event__date {
  color: darkblue;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}
.timeline__event__icon {
  border-radius: 8px 0 0 8px;
  background: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  font-size: 2rem;
  color: darkblue;
  padding: 20px;
}
.timeline__event__icon i {
  position: absolute;
  top: 50%;
  left: -65px;
  font-size: 2.5rem;
  transform: translateY(-50%);
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event:after {
  content: "";
  width: 2px;
  height: 100%;
  background: darkblue;
  position: absolute;
  top: 52%;
  left: -3.5rem;
  z-index: -1;
}
.timeline__event:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: darkblue;
  border-radius: 100%;
  left: -5.3rem;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid black;
}
.timeline__event--type2:before {
  background: darkblue;
  border-color: black;
}
.timeline__event--type2:after {
  background: darkblue;
}
.timeline__event--type2 .timeline__event__date {
  color: darkblue;
}
.timeline__event--type2 .timeline__event__icon {
  background: darkblue;
  color: darkblue;
}
.timeline__event--type2 .timeline__event__title {
  color: darkblue;
}
.timeline__event--type3:before {
  background: darkblue;
  border-color: darkblue;
}
.timeline__event--type3:after {
  background: darkblue;
}
.timeline__event--type3 .timeline__event__date {
  color: darkblue;
}
.timeline__event--type3 .timeline__event__icon {
  background: darkblue;
  color: darkblue;
}
.timeline__event--type3 .timeline__event__title {
  color: darkblue;
}
.timeline__event:last-child:after {
  content: none;
}
@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
  }
  .timeline__event__icon {
    border-radius: 4px 4px 0 0;
  }

  .timeline{
    padding-left: 30px;
  }

  .timeline h1 {
    text-align: center;
    color:  #F76922;
    
    padding-bottom: 40px;
    font-weight: 800;
    font-size: 36px;
   line-height: 40px;
   font-family: var(--font-family);
  
}
}
